<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('partials/head')%>
    <title>homepage</title>
</head>

<body>
    <%-include('partials/nav')%>
    <%= JSON.stringify(user) %>
    <%= JSON.stringify(Blogs) %>

<%-include('partials/script')%>
</body>

</html>